@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail Page";

}

<h1>@ViewBag.SeriesTitle</h1><br />
<h2>Issue No: @ViewBag.IssueNo</h2>
<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>
<h5>Artist</h5>
<iv>

    <ol>
    @foreach (string name in ViewBag.Artist)
    {
        <text><li> @name</li></text>
    }
    </ol>

