
@model ComicBookStore.Models.ComicBook[]
@{
    ViewBag.Title = "Comic Book List";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <h4>@book.DisplayText</h4>
            <img src="/Images/@book.CoverImageFileName"
                 alt="@book.DisplayText"
                 class="img-responsive" />
        </div>
    }

</div>